mixin panelContent(side)
  div(id='kor-'+side+'-content')
    div(id='kor-'+side+'-settings', hidden)
      .settings-bar
        h2 Settings
        //
        //
        button(ttle='Close', onclick='Korrig.settings.close()') close
        //
      //
      ul
        li (Title)
        li (open in the opposite panel)
      //
    div(id='kor-'+side+'-list')
      h2 Article list
      //
      div (search here)
      //
      div
      //
    div(id='kor-'+side+'-article', hidden)
      .article-bar
        hr
        //
        // TODO: create the bar to act upon the articles
        //
        .normal-mode
          button(title='Edit', onclick= '')
            svg.font: use(href="#pencil")
        //
        .edit-mode
          button(title='Save', onclick='')
            svg.font: use(href="#save")
        //
        .menu-sep
        //
        button(title='Close', onclick='')
          svg.font: use(href="#x")
        //
      .article-title
        //
        //
      .article-content
        //
        //
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='version', content=package.version)
    meta(name='application-name', content=package.name)
    title Korrig, another quine wiki
    style#hms= style
    script#hst(type='application/json')!= data
    script#hsi(type='text/javascript')!= mirror
    script#hsm(type='text/javascript')!= app
  body(onload='Korrig.init()')
    svg(xmlns='http://www.w3.org/2000/svg', width='0', height='0', style='display:none')
      defs#hsf!= font
    #kor-main
      #kor-main-menu
        button#kor-mm-dl(title='Download', onclick='Korrig.save.dl()')
          svg.font: use(href='#download')
        button#kor-mm-ul(title='Upload', onclick='Korrig.save.put()', hidden)
          svg.font: use(href='#upload')
        button#kor-mm-set(title='Settings', onclick='Korrig.settings.open()')
          svg.font: use(href='#settings')
      #kor-title Korrig
    #kor-l.panel
      #kor-l-tog(hidden)
        button(title='Show left panel', onclick='Korrig.panel.tog("r")')
          svg.font: use(href='#panelLeftOpen')
      #kor-l-menu.menu
        .menu-sep
        button#kor-lm-list(title='Article list', onclick='Korrig.article.list("l")')
          svg.font: use(href='#list')
        button(title='Article create', onclick='Korrig.article.create("l", "text")')
          svg.font: use(href='#plus')
        .menu-sep
        select#kor-l-select(hidden)
          option(value='list') -- Startup --
      +panelContent('l')
    #kor-r.panel
      #kor-r-tog(hidden)
        button(title='Show right panel', onclick='Korrig.panel.tog("l")')
          svg.font: use(href='#panelRightOpen')
      #kor-r-menu.menu
        select#kor-r-select(hidden, onchange='console.log("plop")')
          option(value='list') -- Startup --
        .menu-sep
        button(title='Article create', onclick='Korrig.article.create("r", "text")')
          svg.font: use(href='#plus')
        button#kor-rm-list(title='Article list', onclick='Korrig.article.list("r")')
          svg.font: use(href='#list')
        .menu-sep
      +panelContent('r')
    div(style='clear:both')
    #kor-splash
      div Welcome to Korrig!
      div App's loading...
    #kor-veil
    #kor-notifs