doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='version', content=package.version)
    meta(name='application-name', content=package.name)
    title Korrig, another quine wiki
    style#hms= style
    script#hst(type='application/json')!= data
    script#hsi(type='text/javascript')!= mirror
    script#hsm(type='text/javascript')!= app
  body(onload='Korrig.init()')
    svg(xmlns='http://www.w3.org/2000/svg', width='0', height='0', style='display:none')
      defs#hsf!= font
    #kor-main-menu
      button#kor-mm-dl(title='Download', onclick='Korrig.save.dl()')
        svg.font: use(href='#download')
      button#kor-mm-ul(title='Upload', onclick='Korrig.save.put()', hidden)
        svg.font: use(href='#upload')
      button#kor-mm-set(title='Settings', onclick='Korrig.settings.open()')
        svg.font: use(href='#settings')
    #kor-l.panel
      #kor-l-menu.menu
        .menu-sep
        button#kor-lm-list(title='Article list', onclick='Korrig.article.list("l")')
          svg.font: use(href='#list')
        button(title='Article create')
          svg.font: use(href='#plus')
        .menu-sep
        select#kor-l-select
      //
      // TODO: left panel
      //
      #kor-l-list(hidden)
        h2 Article list
        //
        div (search here)
        //
        #kor-l-list-ctt
      //
    //
    #kor-r.panel
      #kor-r-menu
      //
      // TODO: right panel
      //
    //
    div(style='clear:both')
    #kor-splash
      div Welcome to Korrig!
      div App's loading...
    #kor-veil
    #kor-notifs